.App {
  text-align: center;
}

.App-logo-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.App-logo-1 {
  width: 15em;
  fill:red;
}

.App-logo-2 {
  width: 15em;
  fill:blue;
}

.App-logo-3 {
  width: 15em;
  fill:purple;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
